<section class="global-fossil-section section background-white">
    <div class="container">
        <h1 class="main-title">Mapa Interativo de Distribuição Fóssil</h1>
        <p class="main-description">Explore as descobertas fósseis através de continentes e períodos geológicos. Clique nos marcadores para descobrir informações detalhadas sobre cada espécie e sua localização.</p>
        
        <div class="content-container">
            <div class="section-header">
                <div class="controls">
                </div>
            </div>
            <div class="map-container">
                <img src="/static/Imagens/Mapa-LP.png" alt="Mapa-LP" class="fossil-heatmap">
            </div>
            <div class="stats-grid">
                <div class="stat-card dinosaur-card">
                    <div class="stat-dot"></div>
                    <h3>Cretáceo</h3>
                    <strong>1.000</strong>
                    <p>Localizações</p>
                </div>
                <div class="stat-card marine-card">
                    <div class="stat-dot"></div>
                    <h3>Jurássico</h3>
                    <strong>28,750</strong>
                    <p>Localizações</p>
                </div>
                <div class="stat-card plant-card">
                    <div class="stat-dot"></div>
                    <h3>Triássico</h3>
                    <strong>1.000</strong>
                    <p>Localizações</p>
                </div>
                <div class="cta-map-link">
                    <div class="stat-dot"></div>
                    <h3>E muito mais!</h3>
                    <br>
                    <a href="/mapa/" class="cta-button">Explore</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>