<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Paleo Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/mapa/main.css') }}">
  <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css" />
  
</head>

<body>
<div class="header" id="map-header">
    <div class="logo">
        <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M480 32C442.2 32 416 58.2 416 96V192c0 28.7-18.2 55.4-44.2 64l-31.9 10.7C324.9 274.6 320 286.9 320 300.7V416h160c44.2 0 80 35.8 80 80s-35.8 80-80 80H160c-44.2 0-80-35.8-80-80s35.8-80 80-80h160V300.7c0-29.3 15.6-56.4 41.5-71.6l31.9-18.2C402.2 201.2 416 174.5 416 145.7V32H480zM224 480c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h128c17.7 0 32 14.3 32 32z"></path>
        </svg>
        FossilMap
    </div>
    <div class="nav-menu">
    </div>
    <a href="/" class="start-button">Voltar para a Página Inicial</a>
</div>

<div id="map"></div>
<div id="toggle-panel-button">»</div>
<div id="curiosidade-container" class="fade-in"></div>

<div id="filtros-container">
    <div id="titulo-mapa">Paleo Map</div>
    <div id="info-painel" class="painel"></div>

    <div id="filtro-periodo" class="painel">
        <label for="slider"><strong>Período geológico:</strong></label>
        <div id="slider"></div>
        <p><span id="label-range">0 - 450</span></p>
        <div class="legenda-container">
            <strong>Legenda:</strong>
            <div id="legenda-cretaceo" class="legenda-item"><span class="legenda-cor" style="background-color: #ff0800;"></span> Cretáceo</div>
            <div id="legenda-jurassico" class="legenda-item"><span class="legenda-cor" style="background-color: #5cb85c;"></span> Jurássico</div>
            <div id="legenda-triassico" class="legenda-item"><span class="legenda-cor" style="background-color: #5bc0de;"></span> Triássico</div>
            <div id="legenda-cambriano" class="legenda-item"><span class="legenda-cor" style="background-color: #8D6F3B;"></span> Cambriano</div>
            <div id="legenda-ordoviciano" class="legenda-item"><span class="legenda-cor" style="background-color: #A7A6A8;"></span> Ordoviciano</div>
            <div id="legenda-siluriano" class="legenda-item"><span class="legenda-cor" style="background-color: #C1D18A;"></span> Siluriano</div>
            <div id="legenda-devoniano" class="legenda-item"><span class="legenda-cor" style="background-color: #D78B2E;"></span> Devoniano</div>
            <div id="legenda-carbonifero" class="legenda-item"><span class="legenda-cor" style="background-color: #4D887C;"></span> Carbonífero</div>
            <div id="legenda-permiano" class="legenda-item"><span class="legenda-cor" style="background-color: #A22225;"></span> Permiano</div>
            <div id="legenda-paleogeno" class="legenda-item"><span class="legenda-cor" style="background-color: #ffe600;"></span> Paleogeno</div>
            <div id="legenda-neogeno" class="legenda-item"><span class="legenda-cor" style="background-color: #ff00c8ff;"></span> Neogeno</div>
            <div id="legenda-quaternario" class="legenda-item"><span class="legenda-cor" style="background-color: #ff006f;"></span> Quaternário</div>
            <div id="legenda-outro" class="legenda-item"><span class="legenda-cor" style="background-color: #ff9900;"></span> Outro</div>
        </div>
    </div>

    <div id="filtro-especie-familia" class="painel">
        <div id="filtro-pais" class="painel">
            <label for="pais-select"><strong>Filtre por País:</strong></label>
            <select id="pais-select">
                <option value="todos">Todos os Países</option>
            </select>
        </div>

        <div id="busca-familia">
            <label for="familia"><strong>...Ou por família</strong></label>
            <select id="familia">
                <option value="">Selecione uma família...</option>
            </select>
        </div>

        <div id="busca-especies">
            <label for="busca"><strong>...ou busque uma espécie:</strong></label>
            <input type="text" id="busca" placeholder="Buscar por gênero..." />
            <div id="resultados"></div>

            <div class="botoes-container">
                <button id="compararDistancia">Comparar Distância</button>
                <div class="botoes-linha">
                    <button id="exibirSelecionados">Exibir selecionados</button>
                    <button id="limparSelecionados">Resetar Filtros</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js"></script>
<script src="{{ url_for('static', filename='js/mapa/main.js') }}" type="module"></script>
</body>
</html>