#map {
    height: 100%;
    width: 100%;
    background-color: #aadaff;
}


#titulo-mapa {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin: 0 0 10px 0;
}

.custom-marker { 
    background-clip: padding-box; 
    border: 3px solid rgba(255, 255, 255, 0.9); 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.custom-marker::after { 
    content: ''; 
    width: 8px; 
    height: 8px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 50%; 
    display: block; 
}

.marker-cretaceo  { background-color: #ff0800; }
.marker-jurassico { background-color: #5cb85c; }
.marker-triassico { background-color: #5bc0de; }
.marker-cambriano   { background-color: #8D6F3B; }
.marker-ordoviciano { background-color: #A7A6A8; }
.marker-siluriano   { background-color: #C1D18A; }
.marker-devoniano   { background-color: #D78B2E; }
.marker-carbonifero { background-color: #4D887C; }
.marker-permiano    { background-color: #A22225; }
.marker-paleogeno   { background-color: #ffe600; }
.marker-neogeno     { background-color: #ff00c8ff; }
.marker-quaternario { background-color: #ff006f; }
.marker-default   { background-color: #ff9900; }

.leaflet-popup-content-wrapper {
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 350px;
}

.leaflet-popup-content {
    max-height: 250px;
    
    overflow-y: scroll;
    scrollbar-width: none; 
    
    padding: 10px 10px 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.leaflet-popup-content::-webkit-scrollbar {
    display: none;
}

.parentes-container {
    margin-top: 5px;      
    font-size: 12px;
    border-top: 1px solid #eee;
    padding-top: 5px;   
}

.artist-info {
    font-size: 10px;
    color: #555;
    margin-top: 5px;   
    margin-bottom: 0;  
}