#filtros-container {
    position: fixed;
    top: 60px; 
    right: 0;
    z-index: 1001;
    width: 350px;
    height: calc(100vh - 60px); 
    background-color: #fff;
    box-shadow: -3px 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#filtros-container.collapsed {
    transform: translateX(100%);
}

#toggle-panel-button {
    position: fixed;
    top: 75px;
    right: 365px;
    z-index: 1002;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out, transform 0.3s ease, background-color 0.3s ease;
}

#toggle-panel-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.painel {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
}
.painel:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


#info-painel {
    font-size: 0.9rem;
    color: #777;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

#filtros-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
}

#filtros-container select,
#filtros-container input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    background-color: #f8f8f8;
}

#filtro-especie-familia.painel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    border-bottom: none;
    padding-bottom: 0;
}


.legenda-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 15px;
}

.legenda-container strong {
    grid-column: 1 / -1;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
}

.legenda-item {
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.legenda-item:hover {
    background-color: #e9e9e9;
}

.legenda-cor {
    height: 14px;
    width: 14px;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
    vertical-align: middle;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#resultados { 
    margin-top: 10px; 
}

.resultado-item { 
    border: 1px solid #ddd; 
    background-color: #fcfcfc; 
    padding: 12px; 
    margin-bottom: 8px; 
    border-radius: 8px; 
    font-size: 0.9rem; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.resultado-item label { 
    cursor: pointer; 
    font-weight: 500; 
    font-size: 1em;
    color: #333;
}

#filtro-pais {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.leaflet-popup-content .popup-imagem + div { 
    font-size: 9px; 
    margin-top: 3px;
    color: #777;
}