/* ==============================================
   ARQUIVO DE ESTILO PRINCIPAL - PALEO MAP
   Importa todos os módulos de estilo
   ============================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Módulos */
@import 'base.css';
@import '_header.css';
@import '_painel-filtros.css';
@import '_componentes.css';
@import '_mapa.css';
@import '_extras.css';