/* ==============================================
   1. ESTILOS GERAIS E ESTRUTURA BÁSICA
   - Estilos para o corpo da página e o container principal.
   ============================================== */

/* Estilos Gerais e Estrutura Básica */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* Fundo padrão para o corpo, que será a cor cinza */
    background-color: #f5f5f5; 
    scroll-behavior: smooth;
}

/* Container para centralizar o conteúdo e garantir a mesma largura em todas as seções */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adiciona espaçamento nas laterais para que o conteúdo não fique "grudado" */
}

/* Classe base para todas as seções, padronizando o espaçamento vertical */
.section {
    padding: 80px 0;
}

/* Classes modificadoras para alternar o fundo das seções */
.background-white {
    background-color: #ffffff;
}

.background-gray {
    background-color: #f5f5f5;
}

.background-clear {
    background-color: #FFFAEB;
}