<section class="section virtual-tours-section">
    <div class="container">
        <div class="virtual-tours-card">
            <div class="tour-text-content">
                <h2>4.6 Bilhões de Anos | 1 Mapa</h2>
                <p>
                    Cada fóssil em nosso mapa conta uma parte da vasta e complexa história do planeta. Explore como a Terra mudou, como os continentes se moveram e como a vida se adaptou e evoluiu ao longo das eras geológicas."
                </p>
                <div class="tour-features">
                    <div class="locations-list">
                        <h3>Featured Locations</h3>
                        <ul>
                            <li><i class='fas fa-dot-circle'></i>Mapas de continentes antigos</li>
                            <li><i class='fas fa-dot-circle'></i>Filtro por períodos geológicos</li>
                            <li><i class='fas fa-dot-circle'></i>Visualizações interativas</li>
                            <li><i class='fas fa-dot-circle'></i>Distribuição de espécies ao redor do mundo</li>
                        </ul>
                    </div>
                </div>
                <a href="/mapa/" class="start-tour-btn">Comece agora</a>
            </div>
            <div class="tour-image">
                <img src="/static/Imagens/Mapa-LP2.png" alt="Pessoas usando óculos de realidade virtual em uma caverna.">
            </div>
        </div>
    </div>
</section>