<section class="section hero-section background-white">
    <div class="container">
        <div class="hero-layout">
            <div class="hero-content">
                <h1>Descubra o <span class="text-primary">Mundo Antigo</span> através dos <span class="text-primary">Fósseis!</span></h1>
                <p>
                    Explore o nosso abrangente mapa interativo mostrando as descobertas fósseis e distribuição de espécies 
                    pelo mundo. Descubra 4.6 bilhões de anos da história evolutiva da Terra.
                </p>
                <div class="hero-actions">
                    <a href="/mapa/" class="btn btn-primary">
                       <i class='fas fa-map-marked-alt'></i>
                        Explore o mapa interativo

                    </a>

                </div>
                <div class="hero-stats">
                    <div class="stat-item">
                        <span class="stat-number">9.000+</span>
                        <span class="stat-label">Registros Fósseis</span>
                    </div>
                    <div class="stat-item">
                        <span class="stat-number">1.400+</span>
                        <span class="stat-label">Espécies Mapeadas</span>
                    </div>
                    <div class="stat-item">
                        <span class="stat-number">80</span>
                        <span class="stat-label">Países</span>
                    </div>
                </div>
            </div>
            <div class="hero-image">
                <img src="https://tse2.mm.bing.net/th/id/OIP.iVuC19gg3JsxyUsU48uvKwHaJ4?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Large dinosaur fossil skeleton in a museum exhibit">
                <div class="hero-image-circle"></div>
            </div>
        </div>
    </div>
</section>