<section class="section background-white">
    <div class="container">
            <h1 class="main-title">Descobertas em Destaque</h1>
            <p class="main-description">Explore descobertas fósseis extraordinárias do mundo todo, cada uma contando uma história única sobre a vida na Terra há milhões de anos.</p>

        <div class="discoveries-grid">
            <div class="card">
                <img src="/static/Imagens/zavacephale.jpg" alt="Triceratops skull fossil" class="card-image">
                <div class="card-tag">Nova Descoberta!</div>
                <div class="card-body">
                    <h3 class="card-title">Zavacephale</h3>
                    <p class="card-text">
                        Nova espécie de Pachycephalosaurídeo descoberto na Mongolia. 
                    </p>
                    <div class="card-info">
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M215.7 499.2C267 448 384 316.5 384 212c0-82.6-58.8-144.9-144-144S96 129.4 96 212c0 104.5 117 236 168.3 287.2C273 509.5 288.5 512 304 512s31-2.5 43.7-12.8zM288 212c0 16.6-13.4 30-30 30s-30-13.4-30-30s13.4-30 30-30s30 13.4 30 30zM176 128c0-17.7-14.3-32-32-32s-32 14.3-32 32V256H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H144V128z"/>
                            </svg>
                            Dornogovi Province., Mongolia. 
                        </span>
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 2.8 16 8.3 22l72 96c4.9 6.5 12.3 10.3 20 10.3s15.1-3.8 20-10.3c9.3-12.5 7.6-31.5-4-41L264 240V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                            </svg>
                            143.1 MA
                        </span>
                    </div>
                    <a href="#" class="card-button">Veja Detalhes</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/Imagens/Zuchengtyrannus.jpg" alt="Plesiosaur skeleton in marine fossil" class="card-image">
                <div class="card-tag tag-cretaceo">Cretáceo</div>
                <div class="card-body">
                    <h3 class="card-title">Tirano de Zucheng</h3>
                    <p class="card-text">
                        Conheça o parente do Tyrannosaurus que viveu na China. 
                    </p>
                    <div class="card-info">
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M215.7 499.2C267 448 384 316.5 384 212c0-82.6-58.8-144.9-144-144S96 129.4 96 212c0 104.5 117 236 168.3 287.2C273 509.5 288.5 512 304 512s31-2.5 43.7-12.8zM288 212c0 16.6-13.4 30-30 30s-30-13.4-30-30s13.4-30 30-30s30 13.4 30 30zM176 128c0-17.7-14.3-32-32-32s-32 14.3-32 32V256H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H144V128z"/>
                            </svg>
                            Shandong, China
                        </span>
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 2.8 16 8.3 22l72 96c4.9 6.5 12.3 10.3 20 10.3s15.1-3.8 20-10.3c9.3-12.5 7.6-31.5-4-41L264 240V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                            </svg>
                            73.5 MA
                        </span>
                    </div>
                    <a href="#" class="card-button">Veja Detalhes</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/Imagens/tapejara.jpg" alt="Archaeopteryx fossil imprint on sand" class="card-image">
                <div class="card-tag tag-jurassico">Jurassico</div>
                <div class="card-body">
                    <h3 class="card-title">O senhor dos Caminhos</h3>
                    <p class="card-text">
                        Um dos mais diferentes pterossauros brasileiros.
                    </p>
                    <div class="card-info">
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M215.7 499.2C267 448 384 316.5 384 212c0-82.6-58.8-144.9-144-144S96 129.4 96 212c0 104.5 117 236 168.3 287.2C273 509.5 288.5 512 304 512s31-2.5 43.7-12.8zM288 212c0 16.6-13.4 30-30 30s-30-13.4-30-30s13.4-30 30-30s30 13.4 30 30zM176 128c0-17.7-14.3-32-32-32s-32 14.3-32 32V256H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H144V128z"/>
                            </svg>
                            Bacia do Araripe, Pernambuco.
                        </span>
                        <span class="card-info-item">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 2.8 16 8.3 22l72 96c4.9 6.5 12.3 10.3 20 10.3s15.1-3.8 20-10.3c9.3-12.5 7.6-31.5-4-41L264 240V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                            </svg>
                            127 MA
                        </span>
                    </div>
                    <a href="#" class="card-button">Veja Detalhes</a>
                </div>
            </div>
        </div>

        <div class="featured-cards-grid">
            <div class="featured-card">
                <div class="featured-card-content">
                    <img src="/static/Imagens/tyrannosaurus.jpg" alt="Full T-Rex Sue skeleton in a museum" class="featured-card-image">
                    <div class="featured-card-body">
                        <h3 class="featured-card-title">T-Rex "Sue"</h3>
                        <p class="featured-card-text">
                            O mais completo esqueleto de Tiranossauro já descoberto, provendo percepções sem precedentes sobre o maior predador do período Cretáceo. 
                        </p>
                        <div class="featured-card-details">
                            <div class="featured-card-details-item">
                                <i class='fas fas fa-text-width'></i>
                                12.3 metros de comprimento.
                            </div>
                            <div class="featured-card-details-item">
                                <i class='fas fas fa-weight-hanging	'></i>
                                Peso estimado em 8.4 toneladas
                            </div>
                            <div class="featured-card-details-item">
                                <i class='fas fas fa-clock'></i>
                                67 milhões de anos
                            </div>
                        </div>
                        <a href="#" class="featured-card-button">Veja Detalhes</a>
                    </div>
                </div>
            </div>

            
        <div class="featured-card featured-card-small">
            <div class="featured-card-content">
                <img src="https://peternickolaus.com/wp-content/uploads/2025/09/Arthropleura3.jpg" alt="Fossilized plant imprints from the Carboniferous period" class="featured-card-image">
                <div class="featured-card-body">
                    <h3 class="featured-card-title">Floresta Carbonífera</h3>
                    <p class="featured-card-text">
                        Fósseis de plantas excepcionalmente preservados da era do carvão, mostrando florestas verdejantes que dominaram a Terra 300 milhões de anos atrás.
                    </p>
                    <div class="featured-card-details">
                        <div class="featured-card-details-item">
                            <i class='fas fas fa-leaf'></i>
                            50+ Espécies Identificadas
                        </div>
                        <div class="featured-card-details-item">
                             <i class='fas fas fa-clock'></i>
                            320 milhões de anos
                        </div>
                    </div>
                        <a href="#" class="featured-card-button">Veja Detalhes</a>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>